@using InternPortal.Client.Models
@inject HttpClient Http
@inject NavigationManager Navigation

@page "/interns/create"

<h3>Добавить нового стажера</h3>
<InternForm SubmitAction="HandleCreate" />

@code{
    private async Task<HttpResponseMessage> HandleCreate(Intern newIntern)
    {
        var response = await Http.PostAsJsonAsync("api/Intern/Create", newIntern);
        return response;
    }
}